In [3]:
# 1. Write a program to reverse a string.
string_to_reverse = "Hello, World!"
reversed_string = string_to_reverse[::-1]
print(f"Reversed String: {reversed_string}")

Reversed String: !dlroW ,olleH

In [4]:

# 2. Check if a string is a palindrome.
def is_palindrome(s):
    return s == s[::-1]

string_to_check = "radar"
print(f"Is Palindrome: {is_palindrome(string_to_check)}")

Is Palindrome: True

In [5]:
# 3. Convert a string to uppercase.
original_string = "hello, world!"
uppercase_string = original_string.upper()
print(f"Uppercase String: {uppercase_string}")

Uppercase String: HELLO, WORLD!

In [6]:
# 4. Convert a string to lowercase.
original_string = "Hello, World!"
lowercase_string = original_string.lower()
print(f"Lowercase String: {lowercase_string}")

Lowercase String: hello, world!

In [7]:
# 5. Count the number of vowels in a string.
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

string_with_vowels = "Hello, World!"
print(f"Number of Vowels: {count_vowels(string_with_vowels)}")

Number of Vowels: 3

In [8]:
# 6. Count the number of consonants in a string.
def count_consonants(s):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    return sum(1 for char in s if char in consonants)

string_with_consonants = "Hello, World!"
print(f"Number of Consonants: {count_consonants(string_with_consonants)}")

Number of Consonants: 7

In [9]:
# 7. Remove all whitespaces from a string.
string_with_spaces = "  Hello,   World!  "
no_whitespace_string = string_with_spaces.replace(" ", "")
print(f"String without Whitespaces: {no_whitespace_string}")

String without Whitespaces: Hello,World!

In [10]:

# 8. Find the length of a string without using the len() function.
string_to_measure = "Hello, World!"
length_without_len = sum(1 for char in string_to_measure)
print(f"Length without len(): {length_without_len}")

Length without len(): 13

In [11]:
# 9. Check if a string contains a specific word.
string_to_search = "Hello, World!"
word_to_find = "World"
contains_word = word_to_find in string_to_search
print(f"Contains '{word_to_find}': {contains_word}")

Contains 'World': True

In [12]:
# 10. Replace a word in a string with another word.
original_string = "Hello, World!"
word_to_replace = "World"
replacement_word = "Universe"
modified_string = original_string.replace(word_to_replace, replacement_word)
print(f"Modified String: {modified_string}")

Modified String: Hello, Universe!

In [13]:
# 11. Count the occurrences of a word in a string.
word_to_count = "o"
occurrences_count = string_to_check.count(word_to_count)
print(f"Occurrences of '{word_to_count}': {occurrences_count}")

Occurrences of 'o': 0

In [14]:
# 12. Find the first occurrence of a word in a string.
first_occurrence_index = string_to_check.find(word_to_count)
print(f"First Occurrence of '{word_to_count}': {first_occurrence_index}")

First Occurrence of 'o': -1

In [15]:

# 13. Find the last occurrence of a word in a string.
last_occurrence_index = string_to_check.rfind(word_to_count)
print(f"Last Occurrence of '{word_to_count}': {last_occurrence_index}")

Last Occurrence of 'o': -1

In [16]:
# 14. Split a string into a list of words.
string_to_split = "Hello, World!"
split_words = string_to_split.split()
print(f"Split Words: {split_words}")

Split Words: ['Hello,', 'World!']

In [17]:


# 15. Join a list of words into a string.
words_to_join = ["Hello", "World!"]
joined_string = " ".join(words_to_join)
print(f"Joined String: {joined_string}")

Joined String: Hello World!

In [18]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
original_string = "Hello World Example"
underscored_string = "_".join(original_string.split())
print(f"Underscored String: {underscored_string}")

Underscored String: Hello_World_Example

In [19]:

# 17. Check if a string starts with a specific word or phrase.
string_to_check_start = "Hello, World!"
starts_with_word = string_to_check_start.startswith("Hello")
print(f"Starts with 'Hello': {starts_with_word}")

Starts with 'Hello': True

In [20]:
# 18. Check if a string ends with a specific word or phrase.
string_to_check_end = "Hello, World!"
ends_with_word = string_to_check_end.endswith("World!")
print(f"Ends with 'World!': {ends_with_word}")

Ends with 'World!': True

In [21]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
string_to_title_case = "hello world"
title_case_string = string_to_title_case.title()
print(f"Title Case String: {title_case_string}")

Title Case String: Hello World

In [22]:
# 20. Find the longest word in a string.
longest_word = max(string_to_split.split(), key=len)
print(f"Longest Word: {longest_word}")

Longest Word: Hello,

In [23]:

# 21. Find the shortest word in a string.
shortest_word = min(string_to_split.split(), key=len)
print(f"Shortest Word: {shortest_word}")

Shortest Word: Hello,

In [24]:

# 22. Reverse the order of words in a string.
reversed_words_string = " ".join(reversed(string_to_split.split()))
print(f"Reversed Words String: {reversed_words_string}")

Reversed Words String: World! Hello,

In [25]:
# 23. Check if a string is alphanumeric.
alphanumeric_string = "Hello123"
is_alphanumeric = alphanumeric_string.isalnum()
print(f"Is Alphanumeric: {is_alphanumeric}")

Is Alphanumeric: True

In [26]:

# 24. Extract all digits from a string.
digits_in_string = "".join(char for char in alphanumeric_string if char.isdigit())
print(f"Digits in String: {digits_in_string}")

Digits in String: 123

In [27]:

# 25. Extract all alphabets from a string.
alphabets_in_string = "".join(char for char in alphanumeric_string if char.isalpha())
print(f"Alphabets in String: {alphabets_in_string}")

Alphabets in String: Hello

In [28]:

# 26. Count the number of uppercase letters in a string.
uppercase_count = sum(1 for char in alphanumeric_string if char.isupper())
print(f"Uppercase Letters Count: {uppercase_count}")

Uppercase Letters Count: 1

In [29]:


# 27. Count the number of lowercase letters in a string.
lowercase_count = sum(1 for char in alphanumeric_string if char.islower())
print(f"Lowercase Letters Count: {lowercase_count}")

Lowercase Letters Count: 4

In [30]:

# 28. Swap the case of each character in a string.
swapped_case_string = alphanumeric_string.swapcase()
print(f"Swapped Case String: {swapped_case_string}")

Swapped Case String: hELLO123

In [31]:

# 29. Remove a specific word from a string.
word_to_remove = "Hello"
string_without_word = " ".join(word for word in string_to_split.split() if word != word_to_remove)
print(f"String without 'Hello': {string_without_word}")

String without 'Hello': Hello, World!

In [32]:
# 30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    email_regex = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    return bool(re.match(email_regex, email))

email_to_check = "test@example.com"
print(f"Is Valid Email: {is_valid_email(email_to_check)}")

Is Valid Email: True

In [33]:
# 31. Extract the username from an email address string.
email_address = "user@example.com"
username = email_address.split('@')[0]
print(f"Username: {username}")

Username: user

In [34]:
# 32. Extract the domain name from an email address string.
domain_name = email_address.split('@')[1]
print(f"Domain Name: {domain_name}")

Domain Name: example.com

In [35]:

# 33. Replace multiple spaces in a string with a single space.
string_with_multiple_spaces = "Hello    World   Example"
single_space_string = " ".join(string_with_multiple_spaces.split())
print(f"Single Space String: {single_space_string}")

Single Space String: Hello World Example

In [36]:


# 34. Check if a string is a valid URL.
url_to_check = "https://www.example.com"
is_valid_url = re.match(r'^https?://\S+$', url_to_check)
print(f"Is Valid URL: {bool(is_valid_url)}")

Is Valid URL: True

In [37]:
# 35. Extract the protocol (http or https) from a URL string.
protocol = url_to_check.split(':')[0]
print(f"Protocol: {protocol}")

Protocol: https

In [38]:

# 36. Find the frequency of each character in a string.
character_frequency = {char: string_to_split.count(char) for char in set(string_to_split)}
print(f"Character Frequency: {character_frequency}")

Character Frequency: {' ': 1, 'r': 1, 'd': 1, 'o': 2, ',': 1, 'W': 1, '!': 1, 'l': 3, 'e': 1, 'H': 1}

In [43]:
# 37. Remove all punctuation from a string.
import re
string_with_punctuation = input()
punctuation = r'[!\"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~]'
string_without_punctuation = re.sub(punctuation, '', string_with_punctuation)
print(f"String without Punctuation: {string_without_punctuation}")

hello.'
String without Punctuation: hello.'

In [40]:

# 38. Check if a string contains only digits.
is_digits_only = string_to_split.isdigit()
print(f"Contains Only Digits: {is_digits_only}")

Contains Only Digits: False

In [41]:

# 39. Check if a string contains only alphabets.
is_alpha_only = string_to_split.isalpha()
print(f"Contains Only Alphabets: {is_alpha_only}")

Contains Only Alphabets: False

In [42]:


# 40. Convert a string to a list of characters.
list_of_characters = list(string_to_split)
print(f"List of Characters: {list_of_characters}")

List of Characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [44]:
# 41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
print(f"Are Anagrams: {are_anagrams(string1, string2)}")

Are Anagrams: True

In [45]:

# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(text, shift):
    encoded_text = ''.join([chr((ord(char) - ord('a') + shift) % 26 + ord('a')) for char in text.lower() if char.isalpha()])
    return encoded_text

text_to_encode = "hello"
shift_value = 3
encoded_text = caesar_cipher_encode(text_to_encode, shift_value)
print(f"Encoded Text: {encoded_text}")

Encoded Text: khoor

In [46]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_text, shift):
    return caesar_cipher_encode(encoded_text, -shift)

decoded_text = caesar_cipher_decode(encoded_text, shift_value)
print(f"Decoded Text: {decoded_text}")

Decoded Text: hello

In [47]:
# 44. Find the most frequent word in a string.
most_frequent_word = max(string_to_split.split(), key=string_to_split.split().count)
print(f"Most Frequent Word: {most_frequent_word}")

Most Frequent Word: Hello,

In [48]:
# 45. Find all unique words in a string.
unique_words = set(string_to_split.split())
print(f"Unique Words: {unique_words}")

Unique Words: {'World!', 'Hello,'}

In [49]:

# 46. Count the number of syllables in a string.
def count_syllables(word):
    return max(1, len(re.findall(r'[aeiouy]+', word.lower())))

syllable_count = sum(count_syllables(word) for word in string_to_split.split())
print(f"Syllable Count: {syllable_count}")

Syllable Count: 3

In [57]:
import re

string_with_special_characters = input("Enter string : ")
has_special_characters = bool(re.search(r'[!@#\$%\^&\*\(\)_\+\-=\[\]\{\};:\'",<>\./?\\|`~]', string_with_special_characters))
print(f"Contains Special Characters: {has_special_characters}")

Enter string : helow;'djd/.,
Contains Special Characters: True

In [53]:

# 48. Remove the nth word from a string.
n = 2
string_without_nth_word = " ".join(word for i, word in enumerate(string_to_split.split()) if i != n-1)
print(f"String without {n}th Word: {string_without_nth_word}")

String without 2th Word: Hello,

In [54]:
# 49. Insert a word at the nth position in a string.
word_to_insert = "NewWord"
position_to_insert = 2
string_with_inserted_word = " ".join(word_to_insert if i == position_to_insert-1 else word for i, word in enumerate(string_to_split.split()))
print(f"String with Inserted Word: {string_with_inserted_word}")

String with Inserted Word: Hello, NewWord

In [55]:

# 50. Convert a CSV string to a list of lists.
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
list_of_lists = [line.split(',') for line in csv_string.split('\n') if line]
print(f"List of Lists: {list_of_lists}")

List of Lists: [['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

In [58]:
# LIST BASED PROBLEMS

In [59]:
# 1. Create a list with integers from 1 to 10.
integer_list = list(range(1, 11))
print(f"Integer List: {integer_list}")

Integer List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:

# 2. Find the length of a list without using the `len()` function.
length_of_list = sum(1 for _ in integer_list)
print(f"Length of List: {length_of_list}")

Length of List: 10

In [61]:

# 3. Append an element to the end of a list.
element_to_append = 11
integer_list.append(element_to_append)
print(f"List after Append: {integer_list}")

List after Append: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [62]:



# 4. Insert an element at a specific index in a list.
element_to_insert = 0
index_to_insert = 2
integer_list.insert(index_to_insert, element_to_insert)
print(f"List after Insert: {integer_list}")

List after Insert: [1, 2, 0, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [63]:



# 5. Remove an element from a list by its value.
element_to_remove = 5
integer_list.remove(element_to_remove)
print(f"List after Remove by Value: {integer_list}")

List after Remove by Value: [1, 2, 0, 3, 4, 6, 7, 8, 9, 10, 11]

In [64]:
# 6. Remove an element from a list by its index.
index_to_remove = 3
del integer_list[index_to_remove]
print(f"List after Remove by Index: {integer_list}")

List after Remove by Index: [1, 2, 0, 4, 6, 7, 8, 9, 10, 11]

In [65]:
# 7. Check if an element exists in a list.
element_to_check = 7
element_exists = element_to_check in integer_list
print(f"Element {element_to_check} Exists: {element_exists}")

Element 7 Exists: True

In [66]:

# 8. Find the index of the first occurrence of an element in a list.
index_of_element = integer_list.index(element_to_check)
print(f"Index of Element {element_to_check}: {index_of_element}")

Index of Element 7: 5

In [67]:
# 9. Count the occurrences of an element in a list.
occurrences_of_element = integer_list.count(element_to_check)
print(f"Occurrences of Element {element_to_check}: {occurrences_of_element}")

Occurrences of Element 7: 1

In [68]:

# 10. Reverse the order of elements in a list.
reversed_list = list(reversed(integer_list))
print(f"Reversed List: {reversed_list}")

Reversed List: [11, 10, 9, 8, 7, 6, 4, 0, 2, 1]

In [69]:

# 11. Sort a list in ascending order.
ascending_sorted_list = sorted(integer_list)
print(f"Ascending Sorted List: {ascending_sorted_list}")

Ascending Sorted List: [0, 1, 2, 4, 6, 7, 8, 9, 10, 11]

In [70]:


# 12. Sort a list in descending order.
descending_sorted_list = sorted(integer_list, reverse=True)
print(f"Descending Sorted List: {descending_sorted_list}")

Descending Sorted List: [11, 10, 9, 8, 7, 6, 4, 2, 1, 0]

In [71]:

# 13. Create a list of even numbers from 1 to 20.
even_numbers_list = list(range(2, 21, 2))
print(f"Even Numbers List: {even_numbers_list}")

Even Numbers List: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [72]:
# 14. Create a list of odd numbers from 1 to 20.
odd_numbers_list = list(range(1, 21, 2))
print(f"Odd Numbers List: {odd_numbers_list}")

Odd Numbers List: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
# 15. Find the sum of all elements in a list.
sum_of_elements = sum(integer_list)
print(f"Sum of Elements: {sum_of_elements}")

Sum of Elements: 58

In [74]:
# 16. Find the maximum value in a list.
max_value = max(integer_list)
print(f"Maximum Value: {max_value}")

Maximum Value: 11

In [75]:
# 17. Find the minimum value in a list.
min_value = min(integer_list)
print(f"Minimum Value: {min_value}")

Minimum Value: 0

In [76]:
# 18. Create a list of squares of numbers from 1 to 10.
squares_list = [num ** 2 for num in range(1, 11)]
print(f"Squares List: {squares_list}")

Squares List: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
# 19. Create a list of random numbers.
import random
random_list = [random.randint(1, 100) for _ in range(10)]
print(f"Random List: {random_list}")

Random List: [71, 58, 73, 96, 21, 78, 98, 75, 44, 88]

In [78]:
# 20. Remove duplicates from a list.
unique_list = list(set(integer_list))
print(f"List with Duplicates Removed: {unique_list}")

List with Duplicates Removed: [0, 1, 2, 4, 6, 7, 8, 9, 10, 11]

In [79]:
# 21. Find the common elements between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = list(set(list1) & set(list2))
print(f"Common Elements: {common_elements}")

Common Elements: [3, 4, 5]

In [80]:
# 22. Find the difference between two lists.
difference_list = list(set(list1) - set(list2))
print(f"Difference between Lists: {difference_list}")

Difference between Lists: [1, 2]

In [81]:
# 23. Merge two lists.
merged_list = list1 + list2
print(f"Merged List: {merged_list}")

Merged List: [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [82]:
# 24. Multiply all elements in a list by 2.
multiplied_list = [num * 2 for num in integer_list]
print(f"List after Multiplication: {multiplied_list}")

List after Multiplication: [2, 4, 0, 8, 12, 14, 16, 18, 20, 22]

In [3]:
# 25. Filter out all even numbers from a list.
integer_list=[3,4,5,3,56]
filtered_odd_numbers = [num for num in integer_list if num % 2 != 0]
print(f"Filtered Odd Numbers: {filtered_odd_numbers}")

Filtered Odd Numbers: [3, 5, 3]

In [4]:
# 26. Convert a list of strings to a list of integers.
string_list = ['1', '2', '3', '4', '5']
int_list = list(map(int, string_list))
print(f"List of Integers: {int_list}")

List of Integers: [1, 2, 3, 4, 5]

In [5]:
# 27. Convert a list of integers to a list of strings.
str_list = list(map(str, integer_list))
print(f"List of Strings: {str_list}")

List of Strings: ['3', '4', '5', '3', '56']

In [6]:
# 28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [num for sublist in nested_list for num in sublist]
print(f"Flattened List: {flattened_list}")

Flattened List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:

# 29. Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list

first_10_fibonacci = generate_fibonacci(10)
print(f"First 10 Fibonacci Numbers: {first_10_fibonacci}")

First 10 Fibonacci Numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [8]:


# 30. Check if a list is sorted.
is_sorted = all(integer_list[i] <= integer_list[i + 1] for i in range(len(integer_list) - 1))
print(f"List is Sorted: {is_sorted}")

List is Sorted: False

In [9]:


# 31. Rotate a list to the left by `n` positions.
n = 2
rotated_left_list = integer_list[n:] + integer_list[:n]
print(f"List after Left Rotation: {rotated_left_list}")

List after Left Rotation: [5, 3, 56, 3, 4]

In [10]:
# 32. Rotate a list to the right by `n` positions.
rotated_right_list = integer_list[-n:] + integer_list[:-n]
print(f"List after Right Rotation: {rotated_right_list}")

List after Right Rotation: [3, 56, 3, 4, 5]

In [11]:

# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]
print(f"Prime Numbers up to 50: {prime_numbers_up_to_50}")

Prime Numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [12]:


# 34. Split a list into chunks of size `n`.
chunk_size = 3
chunks = [integer_list[i:i + chunk_size] for i in range(0, len(integer_list), chunk_size)]
print(f"List Split into Chunks: {chunks}")

List Split into Chunks: [[3, 4, 5], [3, 56]]

In [13]:


# 35. Find the second largest number in a list.
second_largest = sorted(set(integer_list))[-2]
print(f"Second Largest Number: {second_largest}")

Second Largest Number: 5

In [14]:

# 36. Replace every element in a list with its square.
squared_elements = [num**2 for num in integer_list]
print(f"List with Squared Elements: {squared_elements}")

List with Squared Elements: [9, 16, 25, 9, 3136]

In [15]:

# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
list_to_dict = {value: index for index, value in enumerate(integer_list)}
print(f"List to Dictionary: {list_to_dict}")

List to Dictionary: {3: 3, 4: 1, 5: 2, 56: 4}

In [24]:
# 38. Shuffle the elements of a list randomly.
import random
random.shuffle(integer_list)
print(f"Shuffled List: {integer_list}")

Shuffled List: [3, 56, 4, 3, 5]

In [25]:
# 39. Create a list of the first 10 factorial numbers.
import math
factorial_numbers = [math.factorial(num) for num in range(1, 11)]
print(f"First 10 Factorial Numbers: {factorial_numbers}")

First 10 Factorial Numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [29]:


# 40. Check if two lists have at least one element in common.
list1=[3,4,566,4,6]
list2=[2,45,36677,7]
common_elements_check = any(element in list1 for element in list2)
print(f"At Least One Common Element: {common_elements_check}")

At Least One Common Element: False

In [30]:
# 41. Remove all elements from a list.
integer_list.clear()
print(f"List after Clearing: {integer_list}")

List after Clearing: []

In [31]:


# 42. Replace negative numbers in a list with 0.
positive_numbers_list = [max(0, num) for num in integer_list]
print(f"List with Negatives Replaced: {positive_numbers_list}")

List with Negatives Replaced: []

In [32]:

# 43. Convert a string into a list of words.
string_to_list = "Hello, this is a string."
word_list = string_to_list.split()
print(f"String to List of Words: {word_list}")

String to List of Words: ['Hello,', 'this', 'is', 'a', 'string.']

In [33]:

# 44. Convert a list of words into a string.
list_to_string = " ".join(word_list)
print(f"List of Words to String: {list_to_string}")

List of Words to String: Hello, this is a string.

In [34]:
# 45. Create a list of the first `n` powers of 2.
powers_of_2 = [2**i for i in range(1, 11)]
print(f"First 10 Powers of 2: {powers_of_2}")

First 10 Powers of 2: [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [35]:
# 46. Find the longest string in a list of strings.
longest_string = max(string_list, key=len)
print(f"Longest String: {longest_string}")

Longest String: 1

In [36]:
# 47. Find the shortest string in a list of strings.
shortest_string = min(string_list, key=len)
print(f"Shortest String: {shortest_string}")

Shortest String: 1

In [37]:
# 48. Create a list of the first `n` triangular numbers.
triangular_numbers = [i * (i + 1) // 2 for i in range(1, 11)]
print(f"First 10 Triangular Numbers: {triangular_numbers}")

First 10 Triangular Numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [38]:

# 49. Check if a list contains another list as a subsequence.
def is_subsequence(sub, main):
    i, j = 0, 0

    # Iterate through both lists
    while i < len(sub) and j < len(main):
        # If current elements match, move pointer in subsequence
        if sub[i] == main[j]:
            i += 1
        # Move pointer in the main sequence
        j += 1

    # If all elements of sub are found in main in order, sub is a subsequence
    return i == len(sub)

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [3, 5, 8]

result = is_subsequence(sub_list, main_list)
print(result)

True

In [40]:
# Assuming 'integer_list' is the list you want to modify
index1, index2 = 1, 4

# Check if indices are within the bounds of the list
if 0 <= index1 < len(integer_list) and 0 <= index2 < len(integer_list):
    # Swap elements at index1 and index2
    integer_list[index1], integer_list[index2] = integer_list[index2], integer_list[index1]
    print(f"List after Swapping Elements: {integer_list}")
else:
    print("Invalid indices. Please ensure indices are within the bounds of the list.")

Invalid indices. Please ensure indices are within the bounds of the list.

In [41]:
#Tuple Based Practice Problem :

In [42]:
# 1. Create a tuple with integers from 1 to 5.
tuple_integers = (1, 2, 3, 4, 5)

In [43]:



# 2. Access the third element of a tuple.
third_element = tuple_integers[2]

In [44]:
# 3. Find the length of a tuple without using the `len()` function.
tuple_length = sum(1 for _ in tuple_integers)

In [45]:





# 4. Count the occurrences of an element in a tuple.
element_count = tuple_integers.count(3)

In [46]:
# 5. Find the index of the first occurrence of an element in a tuple.
element_index = tuple_integers.index(4)

In [47]:
# 6. Check if an element exists in a tuple.
element_exists = 2 in tuple_integers

In [48]:
# 7. Convert a tuple to a list.
list_from_tuple = list(tuple_integers)

In [49]:
# 8. Convert a list to a tuple.
tuple_from_list = tuple(list_from_tuple)

In [50]:
# 9. Unpack the elements of a tuple into variables.
a, b, c, d, e = tuple_integers

In [51]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(range(2, 11, 2))

In [52]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(range(1, 11, 2))

In [53]:

# 12. Concatenate two tuples.
concatenated_tuple = tuple_integers + even_numbers

In [54]:


# 13. Repeat a tuple three times.
repeated_tuple = tuple_integers * 3

In [55]:
# 14. Check if a tuple is empty.
is_empty = not bool(tuple_integers)

In [56]:
# 15. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4))

In [57]:
# 16. Access the first element of a nested tuple.
first_element_nested = nested_tuple[0][0]

In [58]:
# 17. Create a tuple with a single element.
single_element_tuple = (42,)

In [59]:
# 18. Compare two tuples.
are_identical = tuple_integers == even_numbers

In [60]:
# 19. Delete a tuple. (Note: Tuples are immutable, so "deleting" here means unbinding the variable)
del tuple_integers

In [73]:

tuple_integers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 20. Slice a tuple.
sliced_tuple = tuple_integers[1:4]
print(f"Sliced Tuple: {sliced_tuple}")

Sliced Tuple: (2, 3, 4)

In [74]:
# 21. Find the maximum value in a tuple.
max_value = max(tuple_integers)

In [75]:

# 22. Find the minimum value in a tuple.
min_value = min(tuple_integers)

In [76]:

# 23. Convert a string to a tuple of characters.
string_to_tuple = tuple("hello")

In [79]:

# 24. Convert a tuple of characters to a string.
tuple_chars = ('a','b','c')
tuple_to_string = ''.join(tuple_chars)

In [80]:
# 26. Check if two tuples are identical.
are_identical = tuple_integers == even_numbers

In [81]:

# 27. Sort the elements of a tuple.
sorted_tuple = tuple(sorted(tuple_integers))

In [82]:



# 28. Convert a tuple of integers to a tuple of strings.
string_tuple = tuple(map(str, tuple_integers))

In [83]:
# 29. Convert a tuple of strings to a tuple of integers.
int_tuple = tuple(map(int, string_tuple))

In [84]:

# 30. Merge two tuples.
merged_tuple = tuple_integers + even_numbers

In [91]:


# 31. Flatten a nested tuple.
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)

In [92]:
#  Create a tuple of the first 5 prime numbers.
prime_numbers = (2, 3, 5, 7, 11)

In [93]:
#  Check if a tuple is a palindrome.
is_palindrome = tuple_integers == tuple_integers[::-1]

In [94]:

# . Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x**2 for x in range(1, 6))

In [95]:










#  Filter out all even numbers from a tuple.
odd_numbers_filtered = tuple(x for x in tuple_integers if x % 2 != 0)

In [96]:
#  Multiply all elements in a tuple by 2.
multiplied_tuple = tuple(x * 2 for x in tuple_integers)

In [97]:


# . Rotate a tuple to the right by `n` positions.
def rotate_tuple(tuple_data, n):
    n = n % len(tuple_data)
    rotated_tuple = tuple_data[-n:] + tuple_data[:-n]
    return rotated_tuple

# Example usage
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_tuple(original_tuple, 2)
print(f"Q40: Original Tuple: {original_tuple}")
print(f"Q40: Rotated Tuple: {rotated_tuple}")

Q40: Original Tuple: (1, 2, 3, 4, 5)
Q40: Rotated Tuple: (4, 5, 1, 2, 3)

In [98]:


#  Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        fibonacci.append(fibonacci[-1] + fibonacci[-2])
    return tuple(fibonacci)

# Example usage
fibonacci_tuple = generate_fibonacci(5)
print(f"Q41: Fibonacci Tuple: {fibonacci_tuple}")

Q41: Fibonacci Tuple: (0, 1, 1, 2, 3)

In [105]:
# Create a tuple from user input.
user_input = input("Q42: Enter elements: ")
user_tuple = tuple(map(int, user_input.split()))
print(f"Q42: User Tuple: {user_tuple}")

Q42: Enter elements: 4 5 6  5 5 5 5
Q42: User Tuple: (4, 5, 6, 5, 5, 5, 5)

In [106]:



# 43. Swap two elements in a tuple.
def swap_elements(tuple_data, index1, index2):
    tuple_list = list(tuple_data)
    tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
    return tuple(tuple_list)

# Example usage
tuple_to_swap = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements(tuple_to_swap, 1, 3)
print(f"Q43: Original Tuple: {tuple_to_swap}")
print(f"Q43: Swapped Tuple: {swapped_tuple}")

Q43: Original Tuple: (1, 2, 3, 4, 5)
Q43: Swapped Tuple: (1, 4, 3, 2, 5)

In [107]:

# 44. Reverse the elements of a tuple.
def reverse_tuple(tuple_data):
    return tuple_data[::-1]

# Example usage
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
print(f"Q44: Original Tuple: {original_tuple}")
print(f"Q44: Reversed Tuple: {reversed_tuple}")

Q44: Original Tuple: (1, 2, 3, 4, 5)
Q44: Reversed Tuple: (5, 4, 3, 2, 1)

In [108]:
# 45. Create a tuple of the first `n` powers of 2.
def powers_of_2_tuple(n):
    return tuple(2 ** i for i in range(n))

# Example usage
powers_of_2 = powers_of_2_tuple(5)
print(f"Q45: Powers of 2 Tuple: {powers_of_2}")

Q45: Powers of 2 Tuple: (1, 2, 4, 8, 16)

In [109]:

# 46. Find the longest string in a tuple of strings.
def longest_string_in_tuple(tuple_of_strings):
    return max(tuple_of_strings, key=len)

# Example usage
string_tuple = ("apple", "banana", "kiwi", "strawberry")
longest_string = longest_string_in_tuple(string_tuple)
print(f"Q46: Tuple of Strings: {string_tuple}")
print(f"Q46: Longest String: {longest_string}")

Q46: Tuple of Strings: ('apple', 'banana', 'kiwi', 'strawberry')
Q46: Longest String: strawberry

In [110]:
# 47. Find the shortest string in a tuple of strings.
def shortest_string_in_tuple(tuple_of_strings):
    return min(tuple_of_strings, key=len)

# Example usage
string_tuple = ("apple", "banana", "kiwi", "strawberry")
shortest_string = shortest_string_in_tuple(string_tuple)
print(f"Q47: Tuple of Strings: {string_tuple}")
print(f"Q47: Shortest String: {shortest_string}")

Q47: Tuple of Strings: ('apple', 'banana', 'kiwi', 'strawberry')
Q47: Shortest String: kiwi

In [111]:
# 48. Create a tuple of the first `n` triangular numbers.
def triangular_numbers_tuple(n):
    return tuple((i * (i + 1)) // 2 for i in range(n))

# Example usage
triangular_numbers = triangular_numbers_tuple(5)
print(f"Q48: Triangular Numbers Tuple: {triangular_numbers}")

Q48: Triangular Numbers Tuple: (0, 1, 3, 6, 10)

In [112]:
# 49. Check if a tuple contains another tuple as a subsequence.
def is_subsequence(sub, main):
    sub_len = len(sub)
    for i in range(len(main) - sub_len + 1):
        if main[i:i + sub_len] == sub:
            return True
    return False

# Example usage
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)
is_sub = is_subsequence(sub_tuple, main_tuple)
print(f"Q49: Main Tuple: {main_tuple}")
print(f"Q49: Sub Tuple: {sub_tuple}")
print(f"Q49: Is Sub Tuple a Subsequence? {is_sub}")

Q49: Main Tuple: (1, 2, 3, 4, 5, 6, 7)
Q49: Sub Tuple: (3, 4, 5)
Q49: Is Sub Tuple a Subsequence? True

In [113]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Example usage
alternating_numbers = alternating_tuple(6)
print(f"Q50: Alternating Tuple: {alternating_numbers}")

Q50: Alternating Tuple: (1, 0, 1, 0, 1, 0)

In [115]:


# Set Based Practice Problem :

In [116]:

# 1. Create a set with integers from 1 to 5.
set_integers = {1, 2, 3, 4, 5}
print(set_integers)

{1, 2, 3, 4, 5}

In [117]:


# 2. Add an element to a set.
set_integers.add(6)
print(set_integers)

{1, 2, 3, 4, 5, 6}

In [118]:

# 3. Remove an element from a set.
set_integers.remove(3)
print(set_integers)

{1, 2, 4, 5, 6}

In [119]:

# 4. Check if an element exists in a set.
element_exists = 4 in set_integers
print(element_exists)

True

In [120]:
# 5. Find the length of a set without using the `len()` function.
set_length = len(set_integers)
print(set_length)

5

In [121]:
# 6. Clear all elements from a set.
set_integers.clear()
print(set_integers)

set()

In [122]:

# 7. Create a set of even numbers from 1 to 10.
set_even_numbers = {i for i in range(1, 11) if i % 2 == 0}
print(set_even_numbers)

{2, 4, 6, 8, 10}

In [123]:
# 8. Create a set of odd numbers from 1 to 10.
set_odd_numbers = {i for i in range(1, 11) if i % 2 != 0}
print(set_odd_numbers)

{1, 3, 5, 7, 9}

In [124]:

# 9. Find the union of two sets.
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print(union_set)

{1, 2, 3, 4, 5}

In [125]:



# 10. Find the intersection of two sets.
intersection_set = set_a.intersection(set_b)
print(intersection_set)

{3}

In [126]:

# 11. Find the difference between two sets.
difference_set = set_a.difference(set_b)
print(difference_set)

{1, 2}

In [127]:


# 12. Check if a set is a subset of another set.
is_subset = set_a.issubset(set_b)
print(is_subset)

False

In [128]:

# 13. Check if a set is a superset of another set.
is_superset = set_a.issuperset(set_b)
print(is_superset)

False

In [129]:
# 14. Create a set from a list.
list_to_set = set([1, 2, 3, 4, 5])
print(list_to_set)

{1, 2, 3, 4, 5}

In [130]:


# 15. Convert a set to a list.
set_to_list = list(set_integers)
print(set_to_list)

[]

In [165]:
# 16. Remove a random element from a set.
if set_integers:
    removed_element = set_integers.pop()
    print(f"Removed Element: {removed_element}")
else:
    print("Set is empty, cannot remove an element.")

Removed Element: 1

In [166]:
# 17. Pop an element from a set.
popped_element = set_integers.pop()
print(popped_element)

2

In [167]:
# 18. Check if two sets have no elements in common.
no_common_elements = set_a.isdisjoint(set_b)
print(no_common_elements)

False

In [168]:
# 19. Find the symmetric difference between two sets.
symmetric_difference = set_a.symmetric_difference(set_b)
print(symmetric_difference)

{1, 2, 4, 5}

In [169]:

# 20. Update a set with elements from another set.
set_a.update(set_b)
print(set_a)

{1, 2, 3, 4, 5}

In [170]:


# 21. Create a set of the first 5 prime numbers.
set_primes = {2, 3, 5, 7, 11}
print(set_primes)

{2, 3, 5, 7, 11}

In [171]:
# 22. Check if two sets are identical.
are_identical = set_a == set_b
print(are_identical)

False

In [172]:



# 23. Create a frozen set.
frozen_set = frozenset(set_a)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [173]:


# 24. Check if a set is disjoint with another set.
is_disjoint = set_a.isdisjoint(set_b)
print(is_disjoint)

False

In [174]:
# 25. Create a set of squares of numbers from 1 to 5.
set_squares = {i**2 for i in range(1, 6)}
print(set_squares)

{1, 4, 9, 16, 25}

In [175]:
# 26. Filter out all even numbers from a set.
set_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {num for num in set_numbers if num % 2 != 0}
print(filtered_set)

{1, 3, 5, 7, 9}

In [176]:

# 27. Multiply all elements in a set by 2.
multiplied_set = {num * 2 for num in set_numbers}
print(multiplied_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [177]:
# 28. Create a set of random numbers.
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{1, 67, 40, 16, 81}

In [178]:

# 29. Check if a set is empty.
empty_set = set()
is_empty = not bool(empty_set)
print(is_empty)

True

In [179]:

# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [180]:

# 31. Remove an element from a set using the discard method.
set_to_remove_from = {1, 2, 3, 4, 5}
set_to_remove_from.discard(3)
print(set_to_remove_from)

{1, 2, 4, 5}

In [181]:
# 32. Compare two sets.
set_x = {1, 2, 3}
set_y = {3, 4, 5}
comparison_result = set_x == set_y
print(comparison_result)

False

In [182]:

# 33. Create a set from a string.
string_set = set("hello")
print(string_set)

{'o', 'l', 'e', 'h'}

In [183]:
# 34. Convert a set of strings to a set of integers.
set_strings = {"1", "2", "3"}
set_integers_from_strings = {int(num) for num in set_strings}
print(set_integers_from_strings)

{1, 2, 3}

In [184]:

# 35. Convert a set of integers to a set of strings.
set_integers = {1, 2, 3}
set_strings_from_integers = {str(num) for num in set_integers}
print(set_strings_from_integers)

{'2', '1', '3'}

In [185]:
# 36. Create a set from a tuple.
tuple_set = set((1, 2, 3, 4))
print(tuple_set)

{1, 2, 3, 4}

In [186]:

# 37. Convert a set to a tuple.
set_to_tuple = tuple(set_numbers)
print(set_to_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [187]:
# 38. Find the maximum value in a set.
max_value = max(set_numbers)
print(max_value)

10

In [188]:

# 39. Find the minimum value in a set.
min_value = min(set_numbers)
print(min_value)

1

In [189]:

# 40. Create a set from user input.
user_input_set = set(map(int, input("Enter numbers separated by space: ").split()))
print(user_input_set)

Enter numbers separated by space: 3 4 55 64 5 56
{64, 3, 4, 5, 55, 56}

In [190]:

# 41. Check if the intersection of two sets is empty.
intersection_empty = set_x.isdisjoint(set_y)
print(intersection_empty)

False

In [191]:
# 42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = {0, 1, 1, 2, 3}
print(fibonacci_set)

{0, 1, 2, 3}

In [192]:
# 43. Remove duplicates from a list using sets.
original_list = [1, 2, 2, 3, 4, 4, 5]
list_without_duplicates = list(set(original_list))
print(list_without_duplicates)

[1, 2, 3, 4, 5]

In [193]:
# 44. Check if two sets have the same elements, regardless of their count.
same_elements = set_x == set_y
print(same_elements)

False

In [194]:

# 45. Create a set of the first `n` powers of 2.
n_powers_of_2 = {2**i for i in range(5)}
print(n_powers_of_2)

{1, 2, 4, 8, 16}

In [195]:



# 46. Find the common elements between a set and a list.
common_elements = set_numbers.intersection(original_list)
print(common_elements)

{1, 2, 3, 4, 5}

In [196]:
# 47. Create a set of the first `n` triangular numbers.
n_triangular_numbers = {i * (i + 1) // 2 for i in range(5)}
print(n_triangular_numbers)

{0, 1, 3, 6, 10}

In [197]:




# 48. Check if a set contains another set as a subset.
is_subset = set_x.issubset(set_y)
print(is_subset)

False

In [198]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n_alternating_1s_and_0s = {(i % 2) for i in range(5)}
print(n_alternating_1s_and_0s)

{0, 1}

In [199]:

# 50. Merge multiple sets into one.
set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_c = {5, 6, 7}
merged_set = set_a.union(set_b, set_c)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}